---
title: NHSbuntu - an OS for the NHS.
description: Secure, Modern, Fast, Free.
---
<section class="hero">
	<div class="text-container">
		<h1 class="editable">Secure, Modern, Fast, Free.</h1>
		<p class="subtext editable"></p>

		{% include youtubePlayer.html id="t7Cxw33UHW0" %}
		<br/>
		{% include downloadiso.html id="20170312220906" %}
		</div>
	</div>
</section>

<div class="content">

	<section>
			<div class="text-container" align="center">
				<h2>Ready for the NHS.</h2>
			</div>

		<div class="container flex">

			<div class="text editable">

				{% include ootb-apps.html %}

			</div>
			<div class="image">
				<img src="images/screenshots/nhsbuntu-gnome-120317-nhs-office.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="text-container" align="center">
			<h2>Designed for the NHS</h2>
		</div>
		<div class="container flex">
			<div class="text editable">

				{% include features.html %}

			</div>
			<div class="image">
				<img src="images/screenshots/nhsbuntu-gnome-120317-nhs-desktop.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<!-- <section>
		<div class="container flex">
			<div class="text editable">

				{% include advantages.html %}

			</div>
			<div class="image">
				<img src="//placehold.it/1500x938" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section> -->

	<!-- <section>
  		<div class="container"><h1>Other Features</h1></div>

  		<div class="container flex">
    			<div class="text editable">

    				{% include other-features.html %}

    			</div>
    			<div class="text editable">

    				{% include other-features2.html %}

    			</div>
  		</div>
	</section> -->

	<!-- <section class="container flex">
      <div class="button"><a href="/sign-up/">Register Interest</a></div>
      <div class="button"><a href="#">Contribute</a></div>
      <div class="button"><a href="#">Donate</a></div>
	</section> -->
</div>
